.product-card {
    margin: 60px 0 0;
    padding: 16px;
    width: 386px;
    height: 444px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);

        .product-card-cart-icon {
            opacity: 1;
        }
    }

    .product-card-img-container {
        width: 354px;
        height: 330px;
        margin-bottom: 24px;

        .out-of-stock-text {
            text-decoration: none;
            position: absolute;
            top: 30%;
            left: 28%;
            font-size: 24px;
            line-height: 160%;
            color: black;
        }
    }

    .product-card-img {
        width: 354px;
        height: 330px;
        object-fit: contain;
    }

    .product-card-descr {
        width: 354px;
        height: 58;

        p {
            margin: 0;
            font-size: 18px;
            color: #1d1f22;
        }
    }

    &-descr-name {
        font-weight: 300;
    }

    &-descr-price {
        font-weight: 500;
    }

    &-cart-icon {
        position: absolute;
        bottom: 72px;
        right: 31px;
        opacity: 0;
        transition: 0.3s;
    }
}

.out-stock {
    opacity: 0.3;
}
