.header {
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
}

.header-links a {
    margin: 0 16px;
    display: flex;
    align-items: center;
    height: 80px;
    text-decoration: none;
    color: #1D1F22;   
    cursor: pointer;
}
.header-links a:hover {
    text-decoration: none;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}

.header-buttons {
    display: flex;
    gap: 22px;
}

.currency-selector {
    display: flex;
    justify-content: space-between;
}