.header {
    width: 100%;
    background: #fff;
    z-index: 120;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);

    &__inner {
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;
        max-height: 80px;
        display: flex;
        justify-content: space-between;

        &-categories {
            display: flex;
            width: 234px;
            height: 80px;
            justify-content: space-around;

            .category-btn {
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            div {
                display: flex;
                height: 80px;
                align-items: center;
            }

            div:hover {
                text-decoration: none;
                color: #5ece7b;
                border-bottom: 2px solid #5ece7b;
            }
        }

        &-buttons {
            width: 234px;
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                cursor: pointer;
            }

            .currency-selector-button {
                display: flex;
                gap: 5px;

                .currency-selector-arrow {
                    display: flex;
                    transition: 0.3s;
                }

                .currency-selector-arrow-rotate {
                    display: flex;
                    transform: rotate(-180deg);
                    transition: 0.3s;
                }
            }

            .cart-button {
                display: flex;
                position: relative;

                &-counter {
                    width: 20px;
                    height: 20px;
                    background-color: black;
                    border-radius: 50px;
                    text-align: center;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                }
            }
        }
    }
}
