* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

img {
  display: block;
}