.modal {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(57, 55, 72, 0.22);

    //CSSTransmition
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
        visibility: visible;
    }

    &-enter-done {
        opacity: 1;
        visibility: visible;
    }

    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        visibility: hidden;
    }
    //CSSTransmition over

    .cart-modal {
        z-index: 1000;
        padding: 5px 16px;
        margin-right: 75px;
        margin-top: 80px;
        min-height: 300px;
        width: 325px;
        position: absolute;
        right: 75px;
        background-color: white;

        &-content {
            container-type: inline-size;

            &-header {
                margin: 32px 0;
            }

            .items-qty {
                font-weight: 500;
                font-size: 16px;
            }

            &-inner {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 40px;
                overflow: auto;
                max-height: 400px;

                &-item {
                    width: 293px;
                    height: 190px;
                }
            }

            .total-price {
                display: flex;
                justify-content: space-between;

                &-left,
                &-right {
                    margin: 0;
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            .modal-btn-container {
                margin: 32px 0;
                display: flex;
                justify-content: space-between;
                min-width: 293px;

                &-item {
                    width: 140px;
                    height: 43px;
                    font-weight: 600;
                    font-size: 14px;
                    cursor: pointer;
                }

                .view-btn {
                    background: #ffffff;
                    border: 1px solid #1d1f22;
                }

                .checkout-btn {
                    background: #5ece7b;
                    color: white;
                    border: none;

                    &:hover {
                        background: #439058;
                    }
                }
            }
        }
    }
}
