/* .cart-item {
    max-width: 100%;
    min-height: 336px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    @container (max-width: 326px) {
        min-height: 190px;
        padding: 0;
        margin-bottom: 40px;
    }

    &_brand {
        margin: 0 0 16px;
        font-weight: 600;
        font-size: 30px;
        line-height: 27px;

        @container (max-width: 325px) {
            font-weight: 300;
            font-size: 16px;
            line-height: 160%;
            margin: 0;
        }
    }

    &_name {
        font-weight: 400;
        font-size: 30px;
        line-height: 27px;
        margin: 16px 0 20px;

        @container (max-width: 325px) {
            font-weight: 300;
            font-size: 16px;
            line-height: 160%;
            margin: 0;
        }
    }

    &_descr {
        margin: 16px 0 20px;
        font-weight: 400;
        font-size: 30px;
        line-height: 27px;
    }

    &_price {
        margin: 20px 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;

        @container (max-width: 325px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            margin: 4px 0 8px;
        }
    }

    &_attribute {
        margin-bottom: 10px;

        &-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            margin: 0;

            @container (max-width: 325px) {
                font-weight: 500;
                font-size: 14px;
            }
        }

        &-value {
            color: green;
            font-weight: 700;
            font-size: 27px;
            margin: 0;

            @container (max-width: 325px) {
                font-size: 20px;
            }
        }

        &-color {
            width: 16px;
            height: 16px;
            margin-top: 5px;
        }
    }

    &_inner-right {
        width: 270px;
        gap: 24px;
        display: flex;

        @container (max-width: 325px) {
            margin-left: 10px;
            justify-content: space-around;
            gap: 0;
        }
    }

    &_inner-left {
        @container (max-width: 325px) {
            width: 200px;
        }
    }

    &_qty {
        font-weight: 500;
        font-size: 24px;

        @container (max-width: 325px) {
            font-size: 20px;
        }
    }
}

.cart-gallery {
    position: relative;
    height: 288px;
    width: 192px;
    overflow: hidden;

    @container (max-width: 325px) {
        width: 120px;
        height: 190px;
    }

    &_flow {
        display: flex;
        height: 288px;
    }

    .next-arrow,
    .prev-arrow {
        position: absolute;
        bottom: 15px;
        // cursor: pointer;
        opacity: 0.1;

        @container (max-width: 325px) {
            display: none;
        }
    }

    .next-arrow {
        right: 15px;
    }

    .prev-arrow {
        transform: rotate(180deg);
        right: 45px;
    }

    .gallery-item {
        object-fit: contain;
        width: 200px;
        height: 288px;

        @container (max-width: 325px) {
            width: 120px;
            height: 190px;
        }
    }
}

.qty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @container (max-width: 325px) {
        min-height: 190px;
    }

    .change-qty-btn {
        display: flex;
        padding: 0;
        font-size: 37px;
        width: 45px;
        height: 45px;
        background: white;
        border: 1px solid black;
        font-weight: 100;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        transition: 0.3s;

        @container (max-width: 325px) {
            margin: 5px 0;
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: black;
            color: white;
        }
    }
}
 */
